.wrapper {
    background-image: url("/landing-page-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    margin:0;
}

.form {
    width: 35%;
    height: 100%;
    margin:0;
}
